/*
  COMPONENT: ADD ON STATIC
*/
.add-on-static {
  background-color: #8793af;

  h3 { color: @white; }

  .info {
    color: @white;
    padding: 40px;
  }

  .btn-add {
    .ant-btn-icon-only {
      margin-right: 10px;
      vertical-align: bottom;
    }
  }

  .btn-remove {
    .icon-plate {
      font-size: 62px;
      margin-bottom: 8px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  /* Temporary image placeholder since /static/ doesn't work for the moment. */
  .col-photo {
    background: @white;
    display: flex;
    align-items: stretch;

    .photo {
      background: no-repeat center center;
      background-size: cover;
      flex: 1 0 0;
    }
  }
}