/*
  COMPONENT: ADD ON STATIC
*/
.add-on-static {
  background-color: #8793af;

  h3 { color: @white; }

  .info {
    color: @white;
    padding: 40px;
  }

  .btn-family-item {
    display: flex;
    align-items: center;
    height: 70px;
  }

  .btn-add {
    .ant-btn-icon-only {
      vertical-align: bottom;
    }
  }

  .btn-remove {
    .icon-plate {
      font-size: 62px;
      vertical-align: middle;

      &:hover {
        cursor: pointer;
      }
    }
  }

  /* Temporary image placeholder since /static/ doesn't work for the moment. */
  .col-photo {
    background: @white;
    display: flex;
    align-items: stretch;

    .photo {
      background: no-repeat center center;
      background-size: cover;
      flex: 1 0 0;
      min-height: 150px;
    }
  }
}