/*
  ANTD COMPONENT: INPUT
*/

:global {
  
  // Manually define the border color since it's different from the @outline-color one.
  .@{ant-prefix}-input {
    border-radius: 0;
  }

  // Fix input affix padding too tight.
  // Left
  .@{ant-prefix}-input-affix-wrapper .@{ant-prefix}-input:not(:first-child) {
    padding-left: @input-padding-horizontal-base + @input-affix-width + 4px;
  }
  // Right
  .@{ant-prefix}-input-affix-wrapper .@{ant-prefix}-input:not(:last-child) {
    padding-right: @input-padding-horizontal-base + @input-affix-width + 4px;
  }

  .@{ant-prefix}-input-center {
    text-align: center;
  }

  .@{ant-prefix}-input-inline {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    background-color: transparent;

    &:hover {
      border-color: @primary-color;
      border-right-width: 0 !important;
    }

    &:focus {
      border-color: @primary-color;
      border-right-width: 0 !important;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .@{ant-prefix}-date-inline .@{ant-prefix}-input-group .@{ant-prefix}-input {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    background-color: transparent;

    &:hover {
      border-color: @primary-color;
      border-right-width: 0 !important;
    }

    &:focus {
      border-color: @primary-color;
      border-right-width: 0 !important;
      background-color: transparent;
      box-shadow: none;
    }
  }



}
