/*
  COMPONENT: LOADER
*/

:global {
  .@{spin-prefix-cls} {
    min-height: 100px;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-nested-loading {
      > div > .@{spin-prefix-cls} {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
