/*
  COMPONENT: ORDER GROUP
*/

:global {
  .order-group {
    .shipping-date {
      line-height: 1.5em;
      font-size: 18px;

      & > span { font-size: 20px; }
      & > a {
        font-size: 12px;
        margin-left: 15px;
      }

      .last-date { font-size: 14px; }
    }

    .actions {
      a {
        margin-left: 20px;
        &:first-child { margin-left: 0; }
      }
    }

    @media (max-width: @breakpoint-tablet-large) {
      .hide-desktop {
        display: none;
      }
    }
    @media (min-width: @breakpoint-desktop ) {
      .hide-tablet {
        display: none;
      }
    }
    
  }
}
