/*
  ANTD COMPONENT: RADIO GROUP
*/

:global {
  .@{radio-prefix-cls} {
    &-inner {
      border-color: @radio-dot-color;
    }
  }

  .@{radio-group-prefix-cls} {
    &-vertical {

      .@{radio-prefix-cls} {
        // We absolute the radio button to allow multi-line text to not wrap under the radio.
        position: absolute;
        margin-top: 4px;
      }

      .@{radio-prefix-cls}-wrapper {
        display: block;
        min-height: 30px;
        line-height: 30px;
        margin-bottom: 8px;
        white-space: initial;

        & > span:not(.@{radio-prefix-cls}) {
          display: inline-block;
          padding-left: @radio-size + 10px;
        }
      }

    }
  }

  .@{radio-prefix-cls}-button-wrapper {
    border: @border-width-base @border-style-base @primary-color;

    &:not(:first-child) {
      &::before {
        background-color: @primary-color;
      }
    }
    &:first-child {
      border-left: @border-width-base @border-style-base @primary-color;
    }
  
    &-checked:not(&-disabled) {
      color: @btn-primary-color;

    }
  }
}
