/*
  ANTD COMPONENT: RADIO GROUP
*/

:global {
  .@{radio-prefix-cls} {
    &-inner {
      border-color: @radio-dot-color;
    }
  }

  .@{radio-group-prefix-cls} {
    &-vertical {

      .@{radio-prefix-cls}-wrapper {
        display: block;
        height: 30px;
        line-height: 30px;
        margin-bottom: 8px;
      }

    }
  }

  .@{radio-prefix-cls}-button-wrapper {
    border: @border-width-base @border-style-base @primary-color;

    &:not(:first-child) {
      &::before {
        background-color: @primary-color;
      }
    }
    &:first-child {
      border-left: @border-width-base @border-style-base @primary-color;
    }
  
    &-checked:not(&-disabled) {
      color: @btn-primary-color;

    }
  }
}
