/*
  ANTD COMPONENT: RADIO GROUP
*/

:global {
  .@{radio-group-prefix-cls} {
    &-vertical {

      .@{radio-prefix-cls}-wrapper {
        display: block;
        height: 30px;
        line-height: 30px;
      }

    }
  }
}
