/*
  PAGE : CHECKOUT
*/

.page-checkout {

  .message-item {
    width: 100% !important;
    padding-bottom: 8px;
    margin-bottom: 15px;
  }

  .chk-billing {
    text-align: center;
    margin: 20px 0 0;

    .ant-form-item-control-wrapper { display: inline-block; }
  }

  .form-wrapper {
    width: 100%;
    max-width: 450px;

    h3 { text-align: center; }

    .ant-form {
      .chk-info {
        display: block;
        font-size: 12px;
        padding-left: 25px;
        padding-top: 8px;
        opacity: .75;
      }
  
      & > .button-toolbar {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 30px;
      }
    }
  }
}
