/*
  PAGE : ONBOARDING
*/

.page-onboarding {
  .ant-form {
    &.ant-form-vertical .ant-form-item {
      padding-bottom: 32px;
    }

    .ant-form-item-label label,
    .title-question {
      font-size: @font-size-base + 5;
      font-weight: 400;
    }

    .ant-radio-group-vertical {
      padding-left: 20px;
    }

    .ant-form-item-control label.ant-radio-wrapper {
      font-size: 16px;
    }

    .ant-form-item.button-toolbar {
      text-align: center;
      padding-top: 30px;
    }
  }

  // Avatar
  .avatar-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;

    img {
      display: block;
      position: relative;
      width: 150px;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
