/*
  PAGE: ORDERS
*/
.page-orders {

  .family-time {
    position: relative;
    background: #EEEFE8 url(/static/familytime-bg.png) center center no-repeat;
    color: #828282;
    height: 330px;
    max-width: 820px;

    &.loading { opacity: .75; }

    & > .content {
      position: absolute;
      width: 316px;
      padding-top: 70px;
      right: 175px;

      .title {
        font-weight: 300;
        font-size: 26px;
        line-height: 1em;
      }

      p {
        font-weight: 300;
        font-size: 17px;
        line-height: 1.25em;
        margin: 25px 0;
      }

      .ant-btn {
        display: flex;
        align-items: center;
        height: 56px;
        min-width: 200px;

        strong { padding-left: 6px; }

        .anticon {
          font-size: 24px;
          vertical-align: middle;
        }
      }
    }
  }

  .family-time-added {
    position: relative;
    background: #EEEFE8 url(/static/familytime-added-bg.png) center center no-repeat;
    color: #828282;
    height: 165px;
    max-width: 820px;

    &.loading { opacity: .75; }

    & > .content {
      position: relative;
      width: 320px;
      padding-top: 40px;
      right: initial;
      margin: 0 auto;

      .icon-plate {
        font-size: 60px;
        position: absolute;
        left: -75px;
        top: 25px;
      }
      
      .title {
        font-weight: 300;
        font-size: 24px;
        line-height: 1em;
      }

      p {
        font-weight: 300;
        font-size: 17px;
        line-height: 1.25em;
        margin: 10px 0 5px;
      }

      .remove {
        font-size: 12px;
        color: #1394C9;
        text-align: right;
      }

      
    }
  }

  .btn-family-time {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .btn-add {
      width: 42px;
      height: 42px;

      .anticon {
        font-size: 21px;
        vertical-align: -0.525em;
      }
    }

    .icon-plate {
      font-size: 72px;
      margin-bottom: 6px;
      vertical-align: middle;
      cursor: pointer;

      &:hover,
      &:focus { opacity: .8; }

      &:active { opacity: .9; }
    }

    .box-info {
      display: flex;
      align-items: center;
      background-color: @btn-primary-bg;
      border-radius: 6px;
      color: @white;
      font-size: @font-size-lg;
      padding: 8px 15px;
      margin-left: 8px;

      small {
        margin-left: 15px;

        &.smaller {
          font-size: 12px;
          line-height: 1.25em;
        }
      }
    }
  }

  .btn-add {
    padding-bottom: 20px;

    .ant-btn-icon-only {
      margin-right: 10px;
      vertical-align: bottom;
    }

    .ant-btn-primary {
      small { margin-left: 10px; }
    }
  }

  .btn-remove {
    padding-bottom: 10px;


  }
}