/*
  PAGE: ORDERS
*/
.page-orders {

  .family-time {
    position: relative;
    overflow: hidden;
    background: #EEEFE8 url(/static/family-time-adult-meal.png) center bottom no-repeat;
    background-size: 100% auto;
    color: #828282;

    &:before {
      content: '';
      position: absolute;
      top: -10px;
      height: 100%;
      max-height: 175px;
      width: 100%;
      left: 0;
      background: url(/static/family-time-baby-meal.png) center top no-repeat;
      background-size: contain;
    }

    &.loading { opacity: .75; }

    & > .content {
      z-index: 1;
      position: relative;
      width: 320px;
      margin: 0 auto;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 175px;
      padding-bottom: 250px;

      .title {
        font-weight: 300;
        font-size: 26px;
        line-height: 1em;
      }

      p {
        font-weight: 300;
        font-size: 17px;
        line-height: 1.25em;
        margin: 25px 0;
      }

      .ant-btn {
        display: flex;
        align-items: center;
        height: 56px;
        min-width: 200px;

        strong { padding-left: 6px; }

        .anticon {
          font-size: 24px;
          vertical-align: middle;
        }
      }
    }

    &.added {
      background: #eeefe7;
      height: auto;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 750px;
        height: 750px;
        max-height: initial;
        background: #db512d;
        transform: rotate(32deg);
      }

      &:before {
        top: -670px;
        left: initial;
        right: -300px;
      }
      &:after {
        bottom: -670px;
        right: initial;
        left: -300px;
      }

      & > .content {
        position: relative;
        right: initial;
        margin: 0 auto;
        padding-top: 190px;
        padding-bottom: 190px;

        .icon-plate { display: none; }

        .title {
          font-size: 22px;
        }
  
        p {
          font-size: 15px;
          margin: 10px 0 5px;
        }

        .remove {
          font-size: 12px;
          color: #1394C9;
          text-align: right;
        }

        
      }
    }
  }

  .btn-family-time {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .btn-add {
      width: 42px;
      height: 42px;

      .anticon {
        font-size: 21px;
        vertical-align: -0.525em;
      }
    }

    .icon-plate {
      font-size: 72px;
      margin-bottom: 6px;
      vertical-align: middle;
      cursor: pointer;

      &:hover,
      &:focus { opacity: .8; }

      &:active { opacity: .9; }
    }

    .box-info {
      display: flex;
      align-items: center;
      background-color: @btn-primary-bg;
      border-radius: 6px;
      color: @white;
      font-size: @font-size-lg;
      padding: 8px 15px;
      margin-left: 8px;

      small {
        margin-left: 15px;

        &.smaller {
          font-size: 12px;
          line-height: 1.25em;
        }
      }
    }
  }

  .btn-add {
    padding-bottom: 20px;

    .ant-btn-icon-only {
      margin-right: 10px;
      vertical-align: bottom;
    }

    .ant-btn-primary {
      small { margin-left: 10px; }
    }
  }

  .btn-remove { padding-bottom: 10px; }
}

@media (min-width: @screen-sm-max) {
  .page-orders {
    .family-time {
      background: url(/static/familytime-bg.png) center center no-repeat;
      height: 330px;
      max-width: 820px;
      margin: 0 auto;

      &:before { display: none; }

      & > .content {
        position: absolute;
        width: 316px;
        right: 175px;
        padding-top: 70px;
        padding-bottom: 0;
        margin: initial;
      }

      &.added {
        height: 165px;

        & > .content {
          padding-top: 40px;
          padding-bottom: 0;

          .icon-plate {
            display: block;
            font-size: 60px;
            position: absolute;
            left: -75px;
            top: 25px;
          }
        }

        &:before {
          display: block;
          top: -630px;
          left: initial;
          right: -415px;
        }
        &:after {
          display: block;
          bottom: -630px;
          right: initial;
          left: -415px;
        }
      }
    }
  }
}
